.main__promo {
    min-height: 540px;
    padding: 127px 0;
    background-image: url(../../image/promo-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
    .main__promo {
        min-height: 450px;
        padding: 92px 0;
        background-image: url(../../image/promo-image-1024.png);
    }
}

@media (max-width: 768px) {
    .main__promo {
        min-height: 350px;
        padding: 81px 0;
        background-image: url(../../image/promo-image-768.png);
    }
}

@media (max-width: 480px) {
    .main__promo {
        min-height: 260px;
        padding: 50px 0;
        background-image: url(../../image/promo-image-480.png);
    }
}