.promo__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #55c2ff;
    margin-bottom: 18px;
}

.promo__description {
    max-width: 480px;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 50px;
}

.promo__btn {
    max-width: 232px;
    width: 100%;
    padding: 11px 11px;
    background-color: #55c2ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.promo__btn:hover {
    outline: 1px solid #1c88eb;
    outline-offset: -1px;
    box-sizing: border-box;
}

.promo__btn:active {
    background-color: #1c88eb;
    outline: none;
}

.promo__btn:disabled {
    background: #d7d7d7;
    outline: none;
}

@media (max-width: 1024px) {
    .promo__description {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .promo__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 10px;
    }

    .promo__description {
        max-width: 354px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 480px) {
    .promo__title {
        font-size: 40px;
        line-height: 48px;
    }

    .promo__description {
        max-width: 230px;
        margin-bottom: 25px;
    }

    .promo__btn {
        max-width: 188px;
        padding: 10px 30px;
        font-size: 12px;
        line-height: 15px;
    }
}