.remark {
    width: 100%;
    padding: 20px 10px;
    background-color: #08475e;
    z-index: 500;
    position: relative;
}

.remark__text {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

@media (max-width: 1024px) {
    .remark {
        padding: 21px 10px 24px;
    }

    .remark__text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 480px) {
    .remark {
        padding: 14px 10px 15px;
    }
}